<div class="bg-slate-800 h-screen p-10">
  <h1 class="text-3xl text-white text-center">To Do List App</h1>
  <div class="flex gap-20 mt-10">
    <div
      class="bg-teal-700 py-2 px-4 rounded flex flex-col gap-3 container w-1/5 h-min"
    >
      <!-- Formulario -->
      <label for="tarea" class="text-lg">Agrega una tarea:</label>
      <input
        type="text"
        name="tarea"
        id="tarea"
        [(ngModel)]="newTarea"
        required
        class="bg-slate-400 border-b-slate-500 border-b-2 active:border-none px-2"
      />
      <button
        (click)="addTarea()"
        class="bg-pink-600 rounded text-white py-1 shadow hover:bg-pink-700 duration-150"
      >
        Agregar
      </button>
    </div>
    <div class="flex gap-5 flex-wrap justify-center w-4/5">
      @for (tarea of listado; track $index) {

      <!-- Tareas tipo -->
      <div
        class="bg-slate-600 px-4 py-2 shadow w-1/4 flex flex-col justify-between"
      >
        <p
          class="text-xl font-semibold text-slate-200 text-wrap max-w-full break-words"
        >
          {{ tarea }}
        </p>
        <button
          (click)="deleteTarea($index)"
          class="bg-red-600 rounded px-2 py-1 text-white w-full mt-5"
        >
          Eliminar
        </button>
      </div>
      } @empty {
      <p class="text-2xl font-semibold text-slate-500">Aún no existen tareas</p>
      }
    </div>
  </div>
</div>
